.progress-container {
    position: relative;
    display: inline-flex;
  }
  
  .progress-grade {
    position: relative;
    color: #0A4295;
    border-radius: 100px;
  }
  
  .progress-presence {
    position: absolute;
    color: #4263EB;
    opacity: 0.4;
    border-radius: 100px;
  }
  
  .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .percentage {
    font-size: 22px;
    padding-left: 15px;
    padding-top: 8px;
    position: absolute;
  }
  
  .trophy-image {
    position: relative;
    margin-top: 5px;
  }
  